.imagen-fondo {
    background-image: url(/proyecto-newgames/fondos/Fondo1.jpg);
    background-position: center;
    background-size: 35%;
    background-attachment: fixed;
}
.titulo-pagina {
    text-align: center;
    font-size: 50px;
}

.botones-inicio {
    background:    #f1c232;
border:        3px solid #000000;
border-radius: 1000px;
box-shadow:    0 3px #000000;
padding:       20px 70px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 20px/1 "Lobster Two", cursive;
text-align:    center;
}
.body {
    background-color: rgb(20, 20, 20);
    color: white;
}
.linea {
    border-color:rgb(0, 255, 123);
    border-width: 3px;
   border-style:solid;
}

.encabezado {
    background-color: rgba(0, 3, 163, 0.54);
    background-size: 100%;
}

.barra-iconos {
    background-color: rgba(0, 3, 163, 0.515);
    background-size: 100%;
}

.fondo-noticia-lanzamientos{
    background-color: rgba(255, 0, 0, 0.786);
    max-width: 600px;
    min-height: 300px;
    background-position: center;
}

.fondo-nombre-lanzamientos {
    background-color: rgba(0, 0, 0, 0.786);
    max-width: 700px;
    min-height: 400px;
    background-position: center;
}

.fondo-noticia-rankings{
    background-color: rgba(255, 0, 195, 0.547);
    max-width: 600px;
    min-height: 300px;
    background-position: center;
}

.fondo-nombre-rankings {
    background-color: rgba(0, 0, 0, 0.786);
    max-width: 700px;
    min-height: 400px;
    background-position: center;
}

.fondo-noticia-novedades{
    background-color: rgba(4, 0, 255, 0.547);
    max-width: 600px;
    min-height: 300px;
    background-position: center;
}

.fondo-nombre-novedades {
    background-color: rgba(0, 0, 0, 0.786);
    max-width: 700px;
    min-height: 400px;
    background-position: center;
}

.fondo-noticia-analisis{
    background-color: rgba(0, 255, 26, 0.547);
    max-width: 600px;
    min-height: 300px;
    background-position: center;
}

.fondo-nombre-analisis {
    background-color: rgba(0, 0, 0, 0.786);
    max-width: 700px;
    min-height: 400px;
    background-position: center;
}
.pie {
    background-color: #000000ab;
    font-size: 15 px;
    text-align: center
    position: absolute;
    width: 100%;
    padding: 1em 0;
   bottom: 0;
   width: 100%;
}